{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12 headings">
            <div class="page-heading"><h3>About Us</h3></div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="para1">
                <p>PACK N TRADE is one of the leading suppliers of packaging products for bakery, food and catering businesses. We are proud to say that we have also managed to become one of the leading suppliers of bespoke packaging products in West Midlands. We have been able to successfully tap into a huge market niche because of our excellent quality of material and price converging on individual customer needs.

 </p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="para1">
                <p>Our goal is to achieve the largest and the most satisfying customer following rather than banking huge margins which is why we aim to reduce your packaging costs so that you can achieve higher profit margins. Businesses always had to order from distributors charging high prices because of a limited number of suppliers in the market. Shortly after we opened our doors, we have gained a large customer following because we guarantee competitive pricing without compromising on the product quality. We have engaged and built relationships with packaging manufacturers around the globe to quote our customers the best competitive prices for their bespoke packaging products in best possible time frame.</p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="para1">
                <p>We’d be glad to help you reduce your packaging costs. We are always looking for more business opportunities and customers in order to expand and achieve our goal of the biggest customer following. We can supply our products to all businesses nationwide from our basis in Birmingham, West Midlands.</p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}