{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12 headings">
            <div class="col-md-8 heading1"><h4>Looking for Bespoke packaging or brand your packaging?</h4></div>
            <div class="col-md-8 heading2"><h4>If so then we have the right solution to suit your needs</h4></div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-8 body-content">
            <p class="body-content-p">At PACK N TRADE, we bring your ideas to life, whether its innovative bespoke packaging or corporate branding to set you apart from the competition.
We can proudly say that we have played and will continue to play a key role in reducing our customer’s packaging costs when it comes to bespoke packaging and branding.</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-8 testimonial">
                <div class="t-heading">
                    <b>Here is what our customers like to say about us:</b>
                </div>
                <div class="t1">
                    <div class="t-img"><b>Testimonial 1:</b></div>
                    <div class="t-text">
                        <p>“I have always experienced an excellent service from PACK N TRADE. Their approach to the business is very friendly and competitive. They managed to brand my packaging at the lowest price among all other bespoke packaging suppliers. They also keep track of my packaging stock so that I don’t have to use unbranded packaging. Outstanding service.” Balraj Singh – Paul’s Bakery</p>
                    </div>
                </div>
                <div class="t1">
                    <div class="t-img"><b>Testimonial 1:</b></div>
                    <div class="t-text">
                        <p>“I am glad that PACK N TRADE is my packaging supplier. They have always delivered the best service at a price and terms that I couldn’t find anywhere else in the UK. Friendly and fantastic people to work with.“ Shoaib Anwar – Bismillah Bakery</p>
                    </div>
                </div>

                <div class="t1">
                    <div class="t-img"><b>Testimonial 1:</b></div>
                    <div class="t-text">
                        <p>“I am glad that PACK N TRADE is my packaging supplier. They have always delivered the best service at a price and terms that I couldn’t find anywhere else in the UK. Friendly and fantastic people to work with.“ Shoaib Anwar – Bismillah Bakery</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock content %}