{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12 headings">
            <div class="page-heading"><h3>Contact Us</h3></div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2429.3323095681103!2d-1.9032056841371274!3d52.4912239798087!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4870bc943e0491cb%3A0xe371f69077fba7d6!2sPACK+N+TRADE+LTD!5e0!3m2!1sen!2s!4v1516296160258" width="1100" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        </div>
    </div>
</div>


{% endblock content %}