{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12 headings">
            <div class="page-heading"><h3>DELIVERIES</h3></div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="para1">
                <p>All orders will be delivered within 1 – 2 working days Monday to Friday only. Same day dispatch is only for orders placed before 11am. Orders are delivered via Parcel Force or DPD weekdays (Monday to Friday only). No orders will be delivered on Weekends (Saturday & Sunday).
                    Free delivery is only for UK Mainland orders over £150 + VAT.
                    Any orders below £150 + VAT will be charged flat shipping rate of £9.99
                </p>
                <p>
                    If your order has to be on the pallet than the cost of pallet delivery will be £65 + VAT UK Mainland only.
Free delivery is only available for orders within UK Mainland. It does not apply to Europe, Scottish Highlands and Islands, Northern Ireland, Southern Ireland, Isle of Man and all offshore Isles or Europe.
                </p>
                <p>
                    All online orders are processed using world pay merchant services and they might check and verify your payments for fraud protection. If your payment will not pass through the fraud protection system than your order will not be dispatched until it has passed. We will notify you of any delay in processing your order.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="para1">
                <h3>Outside UK Mainland Orders</h3>
                <p>European orders and orders outside UK Mainland can only be placed via email and not through the website. Delivery cost for EU Orders and orders outside UK Mainland will be calculated on the total weight of the shipment.</p>
                <p>European customers with a VAT number who require 0% UK VAT rate will have to send us the following details in order to qualify for 0% VAT.</p>
                <ul>
                    <li>1. Company Name</li>
                    <li>2. Company Address</li>
                    <li>3. Company Registration Number</li>
                    <li>4. Company VAT Number</li>
                </ul>
                <p>These details are mandatory for you to provide us to make sure that you are eligible 0% VAT rate.</p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="para1">
                 <h3>PLEASE NOTE:</h3>
                <p>It is the customer’s responsibility to receive the delivery or to have someone arranged to receive the delivery. In any case we will not be liable for any extra costs that may occur for rearranging the delivery if someone was unable to receive it the first time.</p>
                <p>Orders received by 11am will usually be dispatched the same day, provided that goods are in stock. We will notify you of any delay in processing your order if an item is out of stock. You will receive email notification when your order is received and you will also be sent notification when your goods are dispatched.</p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="para1">
                 <h3>Out of Stock Items</h3>
                <p>We usually have all the items in stock but if in case after receiving the order we found out that the item you have ordered is out of stock than we will notify you immediately before processing your order. If you are planning to collect then we advise that you phone in advance to ensure items are in stock.</p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="para1">
                 <h3>Terms and Conditions</h3>
                <p>All are orders are delivered using third party delivery services. We aim to achieve what we offer, however we cannot be held responsible for any delays which may occur due to vehicle breakdowns, extreme weather conditions, any incidents or any unforeseen occurrences. Our Third party Deliveries are contracted only to deliver to customer’s door and not to where the customer require their goods to be placed.  We will not be liable for any returns or orders refused for a reason that driver will not place the goods to a specific area other than door. Please check your order thoroughly once delivered. Any damages or problems with your order must be reported within 48 hours of receipt. No claims will be accepted after 48 hours form the delivery date.</p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}