<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Shopping Cart</title>
    <style>
        td { text-align :center}
    </style>
    <script src="{% static 'js/jquery-3.1.1.slim.min.js' %}"></script><script>
        var cart = [];
        $(function () {
            if (localStorage.cart)
            {
                cart = JSON.parse(localStorage.cart);
                showCart();
            }
        });

        function addToCart() {
            var price = $("#product_price").text();
            var name = $("#product_title").text();
            <!--var qty = $("#qty").val();-->
            var qty = 1;

            // update qty if product is already present
            for (var i in cart) {
                if(cart[i].Product == name)
                {
                    cart[i].Qty = qty;
                    showCart();
                    saveCart();
                    return;
                }
            }
            // create JavaScript Object
            var item = { Product: name,  Price: price, Qty: qty };
            cart.push(item);
            saveCart();
            showCart();
        }

        function deleteItem(index){
            cart.splice(index,1); // delete item at index
            showCart();
            saveCart();
        }

        function saveCart() {
            if ( window.localStorage)
            {
                localStorage.cart = JSON.stringify(cart);
            }
        }

        function showCart() {
            if (cart.length == 0) {
                $("#cart").css("visibility", "hidden");
                return;
            }

            $("#cart").css("visibility", "visible");
            $("#cartBody").empty();
            for (var i in cart) {
                var item = cart[i];
                var row = "<tr><td>" + item.Product + "</td><td>" +
                             item.Price + "</td><td>" + item.Qty + "</td><td>"
                             + item.Qty * item.Price + "</td><td>"
                             + "<button onclick='deleteItem(" + i + ")'>Delete</button></td></tr>";
                $("#cartBody").append(row);
            }
        }
    </script>
<body>
    <h2>Cart</h2>
    <!--Select Product :-->
    <!--<select id="products">-->
        <!--{% for p in products %}-->
        <!--{% if p %}-->
        <!--<option  value="{{ p.price }}">{{ p.slug }}</option>-->

        <!--{% endif %}-->
        <!--{% endfor %}-->

        <!--<option value="50000">iPhone6</option>-->
        <!--<option value="60000">iPhone6 Plus</option>-->
        <!--<option value="45000">iPad Air 2 with Cellular</option>-->
    <!--</select>-->
<h2>Products</h2>
<img src="{{ product.image.url }}">
        <!--Quantity-->
    <!--<input type="text" id="qty" size="3" />-->
    <button id="btnAdd" onclick="addToCart()" >Add To Cart</button>

    <h3>Title: </h3><span id="product_title">{{ product.title }}</span>
<h3>Description: </h3>{{ product.description }}
<h3>Size: </h3> {{ product.size }}
    <h3>Price: </h3> <span id="product_price">{{ product.price }}</span>
<h3>Stock: </h3>{{ product.stock }}
<h3>Category: </h3>{{ product.category.get.name }}


<h2>Category</h2>
<h3>Name: </h3>{{ category.name }}
<h3>Description: </h3>{{ category.description }}
<h3>Products: </h3>{{ product_category.get }}

    <!--Quantity-->
    <!--<input type="text" id="qty" size="3" />-->
    <!--<p/>-->
    <!--<button id="btnAdd" onclick="addToCart()" >Add To Cart</button>-->

    <p></p>
    <table id="cart" border="1" style="visibility:hidden; width:100%">
         <thead>
              <tr>
                  <th>Product</th>
                  <th>Price</th>
                  <th>Qty</th>
                  <th>Total</th>
                  <th></th>
             </tr>
         </thead>
         <tbody id="cartBody">

         </tbody>
    </table>

</body>
</html>
{% endblock content %}
