{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12 headings">
            <div class="page-heading"><h3>PRIVACY POLICY</h3></div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="para1">
                <p>This privacy policy states how PACK N TRADE uses and protects any information that you give us when you use this website.
                </p>
                <p><b>PACK N TRADE</b> is committed to ensuring that your privacy is protected. You can be assured that any information you provide us while using this website will be strictly confidential and protected.</p>
                <p>We may change this policy from time to time by updating this page. You should check this page from time to time to ensure that you are happy with any changes.</p>
                <p>We may collect the following information:</p>
                <ul>
                    <li>Name and payment details</li>
                    <li>Contact information including email address</li>
                    <li>Demographic information such as postcode, preferences, and interests</li>
                    <li>Other information relevant to customer surveys and/or offers</li>

                </ul>
                <p>We only require this information to process your order, obtain payment, delivery of goods and also to provide you a better service.</p>
                <p>We will not sell, distribute or lease your any of your information to third parties unless we have your permission or are required by law to do so.</p>
                <p>If you believe that any information we are holding on you is incorrect or incomplete, please contact us immediately so we can update your information.</p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}