{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12 headings">
            <div class="page-heading"><h3>TERMS & CONDITIONS</h3></div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="para1">
                <p>Please read these terms and conditions carefully. These terms and conditions govern our relationship to you in relation to this website. By using this website you are agreeing to the terms and conditions stated on this page. If you do not agree to these terms and conditions than you may not use or access this website.
                </p>
                <p>We may change these terms and conditions along with our privacy policy from time to time by updating it on our web page. We advise you to check this page from time to time to review these changes to ensure that you agree to these changes. Using this website means that you are accepting the terms and conditions stated on this page. If you do not accept these terms and conditions than please do not continue to use or access this website.</p>
                <p>We may change this policy from time to time by updating this page. You should check this page from time to time to ensure that you are happy with any changes.</p>
                <h4>Company Information:</h4>
                <p><b>PACK N TRADE</b>  is a limited company registered in England and Wales at companies house with a registration number 10138267 and VAT Number 251942309 Our registered office is Unit 3 Challenge Park, 161-163 Hospital Street, Birmingham, B19 3XA, United Kingdom.</p>
                <p>You can contact us by email at <b>info@packntrade.co.uk</b> or by phone on +44 (0) 121 270 5860.</p>

                <h4>Website use</h4>
                <p>This website has been made available to you for your personal use. We reserve the right to change, withdraw or deny access to this website at any time.</p>
                <p>This website and all materials including images and information in it are protected by intellectual property rights including copyrights either belong to us or are licensed to us to use.</p>
                <p>You may print or download materials for this website for your personal use provided the following conditions are met:</p>
                <ul>
                    <li>You will not modify or temper any materials downloaded or printed from this website</li>
                    <li>No graphics are used separately from accompanying text.</li>
                    <li>Our or the relevant third party’s copyright and trade mark notices appear in all copies that you may download or print from this page</li>
                </ul>
                <p>You agree to use this website in accordance with the terms and conditions stated on this page.</p>
                <h4>Information</h4>
                <p>The information provided on this website is provided to you for general information and interests purposes only. Although we try to ensure that all the information provided on this website is accurate and up to date, we are not responsible inaccuracies in the information. We recommend that you do not rely on this information and seek guidance before taking any action based on the information provided on this website. Our liability to you will be unaffected by this.</p>
                <h4>Liability</h4>
                <p>Although we try our best that this website is available to you at all times, However we can’t guarantee  that this website will be available to you at all times or any specific time. We do not guarantee that this website is compatible for all hardware devices you may use to access our website. We reserve the right to modify this website at any time.</p>
                <h4>The terms and conditions stated on this page do not exclude our liability to you in case of the following:</h4>
                 <ul>
                    <li>Personal injury</li>
                    <li>Fraud</li>
                    <li>Any matter that would be illegal for us to exclude or to attempt to exclude our liability</li>
                    <li>Any deaths resulting from our negligence.</li>
                </ul>
                <p>It is your responsibility to make sure that you take appropriate security measures against any viruses or any spams to enable you use our website.</p>
                <h4>Governing Law and Jurisdiction</h4>
                <p>All the terms & conditions stated on this website will be governed by the law of England.</p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}